i {
    font-size: 1rem !important;
}

.responsive-table li {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
}

.table-header {
    text-transform: capitalize;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: var(--sky-blue)
}

.col-1 {
    flex-basis: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-2 {
    flex-basis: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}